pkgbase = evm-wallet
	pkgdesc = EVM wallet (tools).
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.1.1
	pkgrel = 1
	url = https://github.com/themartiancompany/evm-wallet
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = nodejs
	depends = nodejs-ethers
	source = evm-wallet-7d252753e9132f874fb5f9c3b1226888538e25d6.zip::https://github.com/themartiancompany/evm-wallet/archive/7d252753e9132f874fb5f9c3b1226888538e25d6.zip
	validpgpkeys = 97E989E6CF1D2C7F7A41FF9F95684DBE23D6A3E9
	sha256sums = 07cd11711a55024288104232a26101081142549595dfa5b8bad1f37eaeced66b

pkgname = evm-wallet
